flask==3.0.2
flask-cors==4.0.2
werkzeug
numpy
librosa
tensorflow
scikit-learn
soundfile
audioread 
assemblyai
gunicorn
pydub
ffprobe
diffusers
transformers
requests
python-dotenv
torch
Pillow
accelerate 
safetensors 
scipy
huggingface-hub
tokenizers